<%= form_for([@category, @recipe]) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <span class="label">Select a category:</span>
      <%= f.collection_select :category_id, Category.all, :id, :name, {:include_blank => "Please select"} %>    
    </div>

    <div class="form-group">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title of the Recipe' %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_area :description, class: 'form-control', placeholder: 'Description of the Recipe' %>
    </div>

    <div class="form-group">
      <%= f.text_field :level, class: 'form-control', placeholder: 'Level of the Recipe' %>
    </div>

    <div class="form-group">
      <%= f.text_field :servings, class: 'form-control', placeholder: 'Recipe serves' %>
    </div>

    <h4>Ingredients:</h4>
    <%= f.fields_for :ingredients do |ingredient| %>
      <div class="form-group">
        <%= ingredient.label :name %>
        <%= ingredient.text_field :name, class: "form-control" %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit class: 'btn btn-primary', data: { disable_with: false } %>
    </div>
<% end %>
